<!-- e-mail subscription -->
<div class="container">
    <div class="row">
        <div class="col-lg-5 col-lg-offset-2 col-md-8">
        <img class="newsletter--Avatar" src="/themes/bootstrap3-default/img/steempress/user-avatar.png"/>
            <div class="newsletter--Call">
                <a href="about.html" >
                    <h1>Hello! My name is Eduardo</h1>
                </a>
                <p>And this is my personal blog made with SteemPress.<br/>
                <b>Get free updates.</b> Subscribe to my Newsletter</p>
            </div>
        </div>
        <div class="col-lg-5 col-md-2 newsletter">
            <input class="newsletter--Input" type="e-mail" name="" placeholder="your e-mail here" />
            <button class="newsletter--Button" type="button">Subscribe</button>
        </div>
    </div>
</div>
