<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{{ blog.title }}</title>

    <!-- Bootstrap Core CSS -->
    <link href="/themes/bootstrap3-default/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Theme CSS -->
    <link href="/themes/bootstrap3-default/css/steempress-blog.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="/themes/bootstrap3-default/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/css?family=Lato:300,300i,400,400i,700,700i,900,900i&subset=latin-ext" rel="stylesheet" type='text/css'>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    {% include 'partials/header.html.twig' %}

    {% block content '' %}

    {% include 'partials/footer.html.twig' %}

    <!-- jQuery -->
    <script src="/themes/bootstrap3-default/vendor/jquery/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="/themes/bootstrap3-default/vendor/bootstrap/js/bootstrap.min.js"></script>

    <!-- Contact Form JavaScript -->
    <script src="/themes/bootstrap3-default/js/jqBootstrapValidation.js"></script>
    <script src="/themes/bootstrap3-default/js/contact_me.js"></script>

    <!-- Theme JavaScript -->
    <script src="/themes/bootstrap3-default/js/steempress-blog.js"></script>

</body>

</html>
