{% extends 'layout.html.twig' %}

{% block content %}

<section class="main-content">
  <div class="row text-center">
    <div class="large-12 columns" role="content">
      {% for post in posts %}
        {% include 'partials/post.html.twig' with { post: post, preview: true } %}
        {% if not loop.last %}<hr>{% endif %}
      {% endfor %}
    </div>
  </div>
</section>

{% endblock %}
