<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{{ blog.title }}</title>
        <link rel="stylesheet" href="/themes/foundation6-default/css/foundation.css">
        <link rel="stylesheet" href="/themes/foundation6-default/css/main.css">
        <script src="/themes/foundation6-default/js/modernizr-2.6.2.min.js"></script>
    </head>
    <body class="blog">

    {% include 'partials/header.html.twig' %}

    {% block content '' %}

    {% include 'partials/footer.html.twig' %}

    </body>
</html>
