{% extends 'layout.html.twig' %}

{% block content %}

<section class="main-content">
  <div class="row text-center">
    <div class="large-12 columns" role="content">
      {% include 'partials/post.html.twig' with { post: post } %}
    </div>
  </div>
</section>

{% endblock %}
