{% extends 'layout.html.twig' %}

{% block content %}
  <div class="row">
    <div class="large-9 columns" role="content">
      <h1>{{ 'Homepage'|trans }} Placeholder</h1>
      <p>Add <strong>/@username</strong> to the URL to view the blog of a user. For example, <a href='/@jesta'>/@jesta</a> displays jesta's blog.</p>
    </div>
  </div>
{% endblock %}
